		body {
			min-height: 150vh;
			max-width: 100%;
			background-color: #303030;
		}
		nav {
			position: fixed;
			top: 0px;
			left: 0px;
			width: 100%;
			height:35px;
			background-color: #191B1D;
			z-index: 100;
			border-bottom: 1px solid #111214;
			box-shadow: 0px 1px 2px 1px black;
		}
		
		nav ul {
			margin: 0px;
			padding: 5px 0px 5px 15px;
		}
		
		nav li {
			display: inline;
		}
		
		nav a {
			color: white;
			text-decoration: none;
			font-family: 'Roboto', sans-serif;
			font-size: 20px;
			padding-right: 15px;
			padding-left: 15px;
		}
		nav a:hover {
			border-bottom: 2px solid white;
			padding-bottom: 3px;
		}
		
		h1 {
			font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
			color: white;
		}
		
		#three-fifty-pc {
			position: relative;
			left: 50px;
		}

		.specs {
			position: relative;
			left: 50px;
		}

		.specs li {
			color: white;
			list-style: none;
			font-family: 'Roboto Condensed', sans-serif;
			margin-bottom: 5px;
		}

		.specs li a {
			color: white;
			text-decoration: none;
			font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		}
		.specs li a:hover {
			color: #A9A9A9;
		}

		#budgetpc-disclaimer {
			font-size: small;
			font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		}
		
		.pcbuild-div {
			border: 1px solid black;
			border-radius: 5px;
			position: relative;
			top: 50px;
			left: 10px;
			width: 750px;
			background-color: #232527;

		}

		.pcbuild-div:hover {
			top: 45px;
			left: 5px;
			box-shadow: 5px 10px 5px black;
		}

		#fivepc-box {
			position: relative;
			margin-top: 35px;
		}

		#five-hundred-pc {
			position: relative;
			left: 50px;
		}

		@media only screen and (max-width: 767px) { /* Mobile formatting */
			.pcbuild-div {
				word-wrap: overflow-wrap;
				width: 100%;
				left: 0px;
				right: 0px;
				top: 45px;
				align-self: center;
			}

			#three-fifty-pc {
				left: 20px;
			}
	
			.specs {
				left: 0px;
				padding-right: 10px;
			}
			
			body {
				overflow-x: hidden !important;
			}
		}